body{
	position: relative;
	-moz-position: relative;
    -ms-position: relative;
    -o-position: relative;
    -webkit-position: relative;

	background: url(../img/fondoplan.png);
	-moz-background: url(../img/fondoplan.png);
    -ms-background: url(../img/fondoplan.png);
    -o-background: url(../img/fondoplan.png);
    -webkit-background: url(../img/fondoplan.png);

	background-size: cover;
	-moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;

	background-attachment: fixed;
	-moz-background-attachment: fixed;
    -ms-background-attachment: fixed;
    -o-background-attachment: fixed;
    -webkit-background-attachment: fixed;

	background-repeat: no-repeat;
	-moz-background-repeat: no-repeat;
    -ms-background-repeat: no-repeat;
    -o-background-repeat: no-repeat;
    -webkit-background-repeat: no-repeat;

	background-position: center center;
	-moz-background-position: center center;
    -ms-background-position: center center;
    -o-background-position: center center;
    -webkit-background-position: center center;

	background-color: #FFF818;
	-moz-background-color: #FFF818;
    -ms-background-color: #FFF818;
    -o-background-color: #FFF818;
    -webkit-background-color: #FFF818;

}

.backgpais{
	 background: url(../img/fondoplan.png);
	-moz-background: url(../img/fondoplan.png);
    -ms-background: url(../img/fondoplan.png);
    -o-background: url(../img/fondoplan.png);
    -webkit-background: url(../img/fondoplan.png);

	background-size: cover;
	-moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;

	background-repeat: no-repeat;
	-moz-background-repeat: no-repeat;
    -ms-background-repeat: no-repeat;
    -o-background-repeat: no-repeat;
    -webkit-background-repeat: no-repeat;

	background-position: center center;
	-moz-background-position: center center;
    -ms-background-position: center center;
    -o-background-position: center center;
    -webkit-background-position: center center;

    min-height: 100vh;
}

.header_inicio{
	position: relative;
	/*background: white;*/
	background: url(../img/bgheader2.png);
	background-size: cover;
	/*background-repeat: no-repeat;*/
	background-attachment: fixed;
	background-position: center center;	
	/*border-bottom: 2px solid #fff;*/
	/*background: linear-gradient(to  left, #452F67, #593B8D);*/
	/*box-shadow: inset -10px -50px 80px -10px #3b4660;*/
	/*display: flex;
	-moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    -webkit-display: flex;

	flex-flow: wrap row;
	-moz-flex-flow: wrap row;
    -ms-flex-flow: wrap row;
    -o-flex-flow: wrap row;
    -webkit-flex-flow: wrap row;

	/*justify-content: space-between;*/
	/*align-content: center;
	-moz-align-content: center;
    -ms-align-content: center;
    -o-align-content: center;
    -webkit-align-content: center;

	align-items: center;
	-moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;*/

	transition: ease all 0.3s;
	/*padding: 20px;*/
}
.header_inicio:hover{
	transition: ease all 0.3s;
	/*box-shadow: inset -10px -50px 80px -10px #282d38;*/
}
.state_init_mainpage_label{
	color: #6B45B6;
	position: absolute;
	-moz-position: absolute;
    -ms-position: absolute;
    -o-position: absolute;
    -webkit-position: absolute;

	top: 100px;
	left: 0;
	margin: 50px;
}

.headerinit{
	flex-grow: 1;
	background: transparent;		
	color: #fff;
	font-weight: bold;
	font-size: 30px;
	width: 255px;
	padding: 10px;
	
	-moz-padding: 10px;
    -ms-padding: 10px;
    -o-padding: 10px;
    -webkit-padding: 10px;

	-moz-padding: 10px;
	-moz-padding: 10px;
    -ms-padding: 10px;
    -o-padding: 10px;
    -webkit-padding: 10px;

    -ms-padding: 10px;
    -moz-padding: 10px;
    -ms-padding: 10px;
    -o-padding: 10px;
    -webkit-padding: 10px;

    -o-padding: 10px;
    -moz-padding: 10px;
    -ms-padding: 10px;
    -o-padding: 10px;
    -webkit-padding: 10px;

    -webkit-padding: 10px;
    -moz-padding: 10px;
    -ms-padding: 10px;
    -o-padding: 10px;
    -webkit-padding: 10px;


	
	/*position: fixed;*/

	display: flex;
	-moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    -webkit-display: flex;

	justify-content: flex-start;
	-moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    -webkit-justify-content: flex-start;

	text-align: center;
}
.headerinitregistrate{
	background: transparent;		
	color: #fff;
	font-weight: bold;
	font-size: 30px;
	
	padding: 10px;
	-moz-padding: 10px;
	    -ms-padding: 10px;
	    -o-padding: 10px;
	    -webkit-padding: 10px;

	-moz-padding: 10px;
	-moz-padding: 10px;
	    -ms-padding: 10px;
	    -o-padding: 10px;
	    -webkit-padding: 10px;

    -ms-padding: 10px;
    -moz-padding: 10px;
	    -ms-padding: 10px;
	    -o-padding: 10px;
	    -webkit-padding: 10px;

    -o-padding: 10px;
    -moz-padding: 10px;
	    -ms-padding: 10px;
	    -o-padding: 10px;
	    -webkit-padding: 10px;

    -webkit-padding: 10px;
    -moz-padding: 10px;
	    -ms-padding: 10px;
	    -o-padding: 10px;
	    -webkit-padding: 10px;


	font-family: 'Fondamento', cursive;

}
.loinan{
	margin: 1px;
	font-family: 'Fondamento', cursive;
}
.contain{
	min-height: 100vh;
}


.header-home-asistent{ /* Change to modo light*/
	background: rgb(255,255,255,0.90);
	color: #303030;
}

.header-home-asistentinit{ /* al iniciar t*/
	background: rgb(255,255,255,0.90);
	color: #303030;
}

.header-home-light{
	background: rgb(255,255,255,0.90);
	animation: tolighthea linear 1 0.2s;
}

.header-home-lightinit{ /*al iniciar*/
	background: rgb(255,255,255,0.90);
}

@keyframes tolighthea{
	from{
		background: rgb(52,52,69,0.95);
	}
	to{
		background: rgb(255,255,255,0.90);
	}
}
.header-home-asistent-dark{/* Change to modo Dark*/
	background: rgb(52,52,69,0.95);
	animation: todarkhea linear 1 0.2s;
}

.header-home-asistent-darkinit{/* al iniciar*/
	background: rgb(52,52,69,0.95);
}

@keyframes todarkhea{
	from{
		background: rgb(255,255,255,0.90);
	}
	to{
		background: rgb(52,52,69,0.95);
	}
}

.light{
	background: rgb(255,255,255,0.90);
	animation: tolight linear 1 0.2s;
}

.lightinit{ /* al iniciar */
	background: rgb(255,255,255,0.90);
}

@keyframes tolight{
	from{
		background: rgb(52,52,69,0.95);
	}
	to{
		background: #f2f2f2;
	}
}
.dark{
	background: rgb(52,52,69,0.95);
	animation: todark linear 1 0.2s;
}

.darkinit{ /* al iniciar */
	background: rgb(52,52,69,0.95);
}
@keyframes todark{
	from{
		background: #f2f2f2;
	}
	to{
		background: rgb(52,52,69,0.95);
	}
}

.accordion{
	margin: auto;
}

.panel-log-reg{
	/*position: absolute;
	-moz-position: absolute;
    -ms-position: absolute;
    -o-position: absolute;
    -webkit-position: absolute;*/

	/*right: 0;*/
	/*top: 20px;*/
	
	/*margin: 15px;*/
	/*flex-grow: 1;*/
}

.login-change-way{
	padding: 20px;
	margin: 10px;
	outline: none;
	border: none;
	cursor: pointer;
	background: #37D0F5;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px 0px #303030;
	border-radius: 14px;
	transition: ease all 0.3s;
}	

.login-change-way:hover{
	transition: ease all 0.3s;
	background: #78f46e;
	color: #193e15;
}

.init-wayses{ /*Div container => login-change-way button*/
	
	position: fixed;
	bottom: 0;

}

.tapbtn, .panbtn{
	padding: 23px;
	outline: none;
	cursor: pointer;
	background: #fff;
	outline: none;
	border:none;
	border-radius: 14px;
	color: #303030;

}

.tapbtn{
	margin: 4px;
	-moz-margin: 4px;
	-ms-margin: 4px;
	-o-margin: 4px;
	-webkit-margin: 4px;
}

.panbtn{
	margin-top: 4px;
	margin-bottom: 4px;
	margin-right: 4px;

	-moz-margin-top: 4px;
	-ms-margin-top: 4px;
	-o-margin-top: 4px;
	-webkit-margin-top: 4px;

	-moz-margin-bottom: 4px;
	-ms-margin-bottom: 4px;
	-o-margin-bottom: 4px;
	-webkit-margin-bottom: 4px;

	-moz-margin-right: 4px;
	-ms-margin-right: 4px;
	-o-margin-right: 4px;
	-webkit-margin-right: 4px;
}


.label_state{
	color: #fff;
}

.input-reg-text{
	padding: 14px;
	border-radius: 4px;
	outline: none;
	border: none;
}

.bg-col{
	/*background: #261243;*/
}

.gen-form{
}

.menu_btn{
	cursor: pointer;
	transition: ease all 0.3s;
	border-radius: 5px;
}
.menu_btn:hover{
	transition: ease all 0.3s;
	background: #f2f2f2;
}
.menu_container{
	right: 0;
	position: absolute;
	-moz-position: absolute;
    -ms-position: absolute;
    -o-position: absolute;
    -webkit-position: absolute;

	z-index: 4;
	background: #fff;
	padding: 14px;
	border-radius: 14px;
	box-shadow: 0px 0px 10px rgb(0,0,0,0.10);
	margin-top: 10px;
	display: flex;
	-moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    -webkit-display: flex;
	flex-direction: column;
}
.options_men{
	cursor: pointer;
	padding: 8px;
	/*margin-top: 4px;*/
	transition: ease all 0.3s;
	-moz-transition: ease all 0.3s;
    -ms-transition: ease all 0.3s;
    -o-transition: ease all 0.3s;
    -webkit-transition: ease all 0.3s;

}

.options_men:hover{
	transition: ease all 0.3s;
	-moz-transition: ease all 0.3s;
    -ms-transition: ease all 0.3s;
    -o-transition: ease all 0.3s;
    -webkit-transition: ease all 0.3s;
	border-bottom: 2px solid #750EDE;
}


.containhome{
	display: flex;
	-moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    -webkit-display: flex;
	flex-flow: wrap row;
	-moz-flex-flow: wrap row;
    -ms-flex-flow: wrap row;
    -o-flex-flow: wrap row;
    -webkit-flex-flow: wrap row;
	/*border: 1px solid #2D303C;*/
	/*border: 3px solid #808080;*/
	/*background: rgb(41,54,108,0.80);*/
	/*background: rgb(0,0,0,0.20);*/

	/*background-color: #1E172B;*/
	min-height: 97vh;

	margin-left: 20px;	
	margin-right: 20px;	

	/*padding: 20px;*/
}
.containeraside{
	flex-grow: 1;
	-moz-flex-grow: 1;
	-ms-flex-grow: 1;
	-o-flex-grow: 1;
	-webkit-flex-grow: 1;
	flex-basis: 100%;
	-moz-flex-basis: 100%;
	-ms-flex-basis: 100%;
	-o-flex-basis: 100%;
	-webkit-flex-basis: 100%;
	-moz-transition: ease all 0.1s;
    -ms-transition: ease all 0.1s;
    -o-transition: ease all 0.1s;
    -webkit-transition: ease all 0.1s;
}
.containeraside:hover{
	-moz-transition: ease all 0.3s;
    -ms-transition: ease all 0.3s;
    -o-transition: ease all 0.3s;
    -webkit-transition: ease all 0.3s;
}

.sectionhome{
	flex-grow: 1;
	-moz-flex-grow: 1;
	-ms-flex-grow: 1;
	-o-flex-grow: 1;
	-webkit-flex-grow: 1;
	flex-basis: 100%;
	-moz-flex-basis: 100%;
	-ms-flex-basis: 100%;
	-o-flex-basis: 100%;
	-webkit-flex-basis: 100%;
}

.databalanc{
	padding: 14px;
	border:0.5px solid #dbdbdb;
	outline: none;
	border-radius: 14px;
}

.animarbologinicio{
	border-radius: 100%;
	animation: animarbolog linear 2s infinite;
}

@keyframes animarbolog{
	from{
		transform:  scale(0.9);
	}
	50%{
		transform: scale(1);
	}
	to{
		transform:  scale(0.9);
	}
}


 /*-----------------------------------------------------*/
@media all and (min-width: 50px){
	#pattern{
		width: 70px;
		height: 70px;
		padding: 10px;
		-moz-padding: 10px;
	    -ms-padding: 10px;
	    -o-padding: 10px;
	    -webkit-padding: 10px;

	}
}

@media all and (min-width: 130px){
	#pattern{
		width: 130px;
		height: 130px;
		padding: 10px;
		-moz-padding: 10px;
	    -ms-padding: 10px;
	    -o-padding: 10px;
	    -webkit-padding: 10px;

	}
}

@media all and (min-width: 150px){
	#pattern{
		width: 140px;
		height: 140px;
		padding: 10px;
		-moz-padding: 10px;
	    -ms-padding: 10px;
	    -o-padding: 10px;
	    -webkit-padding: 10px;

	}
	.box-rounded{
		width: 25px; height: auto;
	}
}

@media all and (min-width: 280px){
	#pattern{
		width: 250px;
		height: 250px;
		padding: 10px;
		-moz-padding: 10px;
	    -ms-padding: 10px;
	    -o-padding: 10px;
	    -webkit-padding: 10px;

	}

	.box-rounded{
		width: 60px; height: auto;
	}

}


@media all and (min-width: 450px){
	#pattern{
		width: 350px;
		height: 350px;
		padding: 20px;
		-moz-padding: 20px;
	    -ms-padding: 20px;
	    -o-padding: 20px;
	    -webkit-padding: 20px;

	}
	
	.box-rounded{
		width: 80px; height: auto;
	}
}

@media all and (min-width: 600px){
	#pattern{
		width: 400px;
		height: 400px;
		padding: 20px;
		-moz-padding: 20px;
	    -ms-padding: 20px;
	    -o-padding: 20px;
	    -webkit-padding: 20px;

	}
	#root{
		flex: 1 1 auto;
		-moz-flex: 1 1 auto;
	    -ms-flex: 1 1 auto;
	    -o-flex: 1 1 auto;
	    -webkit-flex: 1 1 auto;
	}
	.box-rounded{
		width: 105px; height: auto;
	}

	.containeraside{
		flex: 1 1 auto;
		-moz-flex: 1 1 auto;
	    -ms-flex: 1 1 auto;
	    -o-flex: 1 1 auto;
	    -webkit-flex: 1 1 auto;
	}
	.sectionhome{
		flex: 1 1 auto;
		-moz-flex: 1 1 auto;
	    -ms-flex: 1 1 auto;
	    -o-flex: 1 1 auto;
	    -webkit-flex: 1 1 auto;
	}

}



@media all and (min-width: 700px){
	#pattern{
		width: 300px; height: 300px;
		padding: 20px;
		-moz-padding: 20px;
	    -ms-padding: 20px;
	    -o-padding: 20px;
	    -webkit-padding: 20px;

	}

	#root{
		flex:3 0;
		-moz-flex: 3 0;
	    -ms-flex: 3 0;
	    -o-flex: 3 0;
	    -webkit-flex: 3 0;

	}
	.box-rounded{
		width: 80px; height: auto;
	}

	.containeraside{
		flex: 0.5 0;
		-moz-flex: 0.5 0;
	    -ms-flex: 0.5 0;
	    -o-flex: 0.5 0;
	    -webkit-flex: 0.5 0;

	}
	.sectionhome{
		flex: 2 0;
		-moz-flex: 2 0;
	    -ms-flex: 2 0;
	    -o-flex: 2 0;
	    -webkit-flex: 2 0;
	}

	.containeraside{
		order: 1;
		-moz-order: 1;
	    -ms-order: 1;
	    -o-order: 1;
	    -webkit-order: 1;
	}
	.sectionhome{
		order: 2;
		-moz-order: 2;
	    -ms-order: 2;
	    -o-order: 2;
	    -webkit-order: 2;
	}

}
