body{
	position: relative;
	background: url(../img/fondos/1.png);
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
}
.header_inicio{
	position: relative;
	background: #fff;
	background: url(../img/bgheader2.png);
	background-size: cover;
	/*background-repeat: no-repeat;*/
	background-attachment: fixed;
	background-position: center center;	
	/*border-bottom: 2px solid #fff;*/
	/*background: linear-gradient(to  left, #452F67, #593B8D);*/
	/*box-shadow: inset -10px -50px 80px -10px #3b4660;*/
	display: flex;
	flex-flow: wrap row;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	transition: ease all 0.3s;
}
.header_inicio:hover{
	transition: ease all 0.3s;
	/*box-shadow: inset -10px -50px 80px -10px #282d38;*/
}
.state_init_mainpage_label{
	color: #6B45B6;
	position: absolute;
	top: 100px;
	left: 0;
	margin: 50px;
}

.headerinit{
	flex-grow: 1;
	background: transparent;		
	color: #fff;
	font-weight: bold;
	font-size: 30px;
	width: 255px;
	padding: 30px;
	
	/*position: fixed;*/

	display: flex;
	justify-content: flex-start;
	text-align: center;
}
.loinan{
	margin: 1px;
	font-family: 'Fondamento', cursive;
}
.contain{
	min-height: 100vh;
}


.header-home-asistent{ /* Change to modo light*/
	background: #fff;
	color: #303030;
}

.header-home-asistentinit{ /* al iniciar t*/
	background: #fff;
	color: #303030;
}

.header-home-light{
	background: #fff;
	animation: tolighthea linear 1 0.2s;
}

.header-home-lightinit{ /*al iniciar*/
	background: #fff;
}

@keyframes tolighthea{
	from{
		background: #343445;
	}
	to{
		background: #fff;
	}
}
.header-home-asistent-dark{/* Change to modo Dark*/
	background: #343445;
	animation: todarkhea linear 1 0.2s;
}

.header-home-asistent-darkinit{/* al iniciar*/
	background: #343445;
}

@keyframes todarkhea{
	from{
		background: #fff;
	}
	to{
		background: #343445;
	}
}

.light{
	background: #fff;
	animation: tolight linear 1 0.2s;
}

.lightinit{ /* al iniciar */
	background: #fff;
}

@keyframes tolight{
	from{
		background: #343445;
	}
	to{
		background: #f2f2f2;
	}
}
.dark{
	background: #343445;
	animation: todark linear 1 0.2s;
}

.darkinit{ /* al iniciar */
	background: #343445;
}
@keyframes todark{
	from{
		background: #f2f2f2;
	}
	to{
		background: #343445;
	}
}

.accordion{
	margin: auto;
}

.panel-log-reg{
	position: absolute;
	right: 0;
	top: 30px;
	
	margin: 15px;
	flex-grow: 1;
}

.login-change-way{
	padding: 20px;
	margin: 10px;
	outline: none;
	border: none;
	cursor: pointer;
	background: #37D0F5;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px 0px #303030;
	border-radius: 14px;
	transition: ease all 0.3s;
}	

.login-change-way:hover{
	transition: ease all 0.3s;
	background: #78f46e;
	color: #193e15;
}

.init-wayses{ /*Div container => login-change-way button*/
	
	position: fixed;
	bottom: 0;

}

.tapbtn, .panbtn{
	padding: 23px;
	outline: none;
	cursor: pointer;
	background: #fff;
	outline: none;
	border:none;
	border-radius: 14px;
	color: #303030;

}

.tapbtn{
	margin: 4px;
}

.panbtn{
	margin-top: 4px;
	margin-bottom: 4px;
	margin-right: 4px;
}


.label_state{
	color: #fff;
}

.input-reg-text{
	padding: 14px;
	border-radius: 4px;
	outline: none;
	border: none;
}

.bg-col{
	/*background: #261243;*/
}

.gen-form{
}

.menu_btn{
	cursor: pointer;
	transition: ease all 0.3s;
	border-radius: 5px;
}
.menu_btn:hover{
	transition: ease all 0.3s;
	background: #f2f2f2;
}
.menu_container{
	right: 0;
	position: absolute;
	z-index: 4;
	background: #fff;
	padding: 14px;
	border-radius: 14px;
	box-shadow: 0px 0px 10px rgb(0,0,0,0.10);
	margin-top: 10px;
	display: flex;
	flex-flow: wrap row;
}
.options_men{
	cursor: pointer;
	padding: 8px;
	/*margin-top: 4px;*/
	transition: ease all 0.3s;
}

.options_men:hover{
	transition: ease all 0.3s;
	border-bottom: 2px solid #6d1eaa;
}


.containhome{
	display: flex;
	flex-flow: wrap row;
	/*border: 1px solid #2D303C;*/
	/*border: 3px solid #808080;*/
	/*background: rgb(41,54,108,0.80);*/
	background: rgb(0,0,0,0.20);

	/*background-color: #1E172B;*/
	min-height: 97vh;

	margin: 20px;
	/*padding: 20px;*/
}
.containeraside{
	flex-grow: 1;
	flex-basis: 100%;
}

.sectionhome{
	flex-grow: 1;
	flex-basis: 100%;
}

.databalanc{
	padding: 14px;
	border:0.5px solid #dbdbdb;
	outline: none;
	border-radius: 14px;
}







 /*-----------------------------------------------------*/
@media all and (min-width: 50px){
	#pattern{
		width: 70px;
		height: 70px;
		padding: 10px;
	}
}

@media all and (min-width: 130px){
	#pattern{
		width: 130px;
		height: 130px;
		padding: 10px;
	}
}

@media all and (min-width: 150px){
	#pattern{
		width: 140px;
		height: 140px;
		padding: 10px;
	}
	.box-rounded{
		width: 25px; height: auto;
	}
}

@media all and (min-width: 280px){
	#pattern{
		width: 250px;
		height: 250px;
		padding: 10px;
	}

	.box-rounded{
		width: 60px; height: auto;
	}

}


@media all and (min-width: 450px){
	#pattern{
		width: 350px;
		height: 350px;
		padding: 20px;
	}
	
	.box-rounded{
		width: 80px; height: auto;
	}
}

@media all and (min-width: 600px){
	#pattern{
		width: 400px;
		height: 400px;
		padding: 20px;
	}
	#root{
		flex: 1 1 auto;
	}
	.box-rounded{
		width: 105px; height: auto;
	}

	.containeraside{
		flex: 1 1 auto;
	}
	.sectionhome{
		flex: 1 1 auto;
	}

}



@media all and (min-width: 700px){
	#pattern{
		width: 300px; height: 300px;
		padding: 20px;
	}

	#root{
		flex:3 0;
	}
	.box-rounded{
		width: 80px; height: auto;
	}

	.containeraside{
		flex: 0.5 0;

	}
	.sectionhome{
		flex: 2 0;
	}

	.containeraside{
		order: 1;
	}
	.sectionhome{
		order: 2;
	}

}
