body{
	position: relative;
}
#loadingg{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
}
#logpan{
	background: rgb(0,0,0,0.80);
	/*background: red;*/
	margin: auto;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/*align-items: center;*/
	/*position: relative;*/
}

.registromodsco{
	/*background: rgb(41,49,67,0.95);*/
	background: rgb(52,52,69);
	position: relative;
}

.menu-reg-top{
	padding: 10px;
	float: right;
	background: #f2f2f2;
	background: linear-gradient(to left top, #7765fa, #5243c3);
	background: transparent;
	border: 3px solid white;
	border-top: 4px solid #fff;
	border-radius: 7px;
	font-size: 150%;
	text-align: center;

	font-family: monospace;
}

.coholdermes::placeholder{
	color: #fff;
	/*font-weight: bold;*/
}

.backs{

}
.men_data_registros{
	display: flex;
	flex-direction: column;
	z-index: 10;
	position: fixed;
	left: 0;
	bottom: 0;
	border-bottom-right-radius: 25px;
	border-top-right-radius: 25px;
}

.option-menu-registro{
	padding: 4px;
	margin: 3px;
	transition: ease all 0.3s;
}

.option-menu-registro:hover{
	transition: ease all 0.3s;
	background: #f2f2f2;
}



#formreg{
	display: flex;
	flex-direction: column;
}

#formregdesk{
	display: flex;
	flex-flow: wrap row;

}
.flexgregdesk{
	flex-grow: 1;
	/*flex-basis: 80%;*/
	margin: 3px;

}

.flexgrow{
	flex-grow: 1;
	/*padding: 4px;*/
	margin-top: 3px;
	flex-basis: 100%;
}

.center-flex{
	align-items: center;
	align-content: center;
}

.closedata{
	cursor: pointer;
	background-color: red;
	padding: 3px;
	border-radius: 100%;
}


.flexbg{ flex-basis: 100%; flex-grow: 1;  }

.panel_widgets{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	width: 50%;
	margin: 0 auto;
	margin-top: 6px;
}

.alignment_invisible_widgets{
	position: fixed;
	bottom: 0;
	right: 0;
	border-radius: 25px;
	display: flex;
	flex-flow: wrap row;
	justify-content: center;
	width: 540px;
	height: 250px;
	margin-bottom: 50px;
	overflow: auto;
}

main{
	background: transparent;
}



/*-----------------CALCULADORA-------------------------*/

.container_calculadora{
	position: relative;
	background: #fff;
	padding: 20px;
	/*width: 600px;*/
	/*height: 460px;*/
	/*position: fixed;*/
	user-select: none;
	transition: ease all 0.1s;
	transform: scale(0.8);
	
}
.container_calculadora:hover{
	transition: ease all 0.1s;
}

.contain_calender{
	transition: ease all 0.1s;
}
.contain_calender:hover{
	transition: ease all 0.1s;
}
.opt_hea_win_asi{
	/*border-radius: 14px;*/
	position: absolute;
	top: -50px;
	left: 0px;
	z-index: 100;
}


/*----------------------------------------------------*/

/*---------------------- Calendaro ----------------------*/


/*--------------------------------------------------------*/




/* ------------------ COLORS --------------------*/

.co1{ background: #4A4AC4; }
.co2{ background: #49c343; }


/*----------------- Text Color --------------------*/
.cotxtlight { color: #fff; }
.cotxtdark { color: #303030; }

/* .................. bg ....................*/

.bg-darkblue0{ background: #34323A; }
.bg-darkblue1{ background: #2A2831; }
.bg-borderwhite{ 
	border-radius: 14px;
	border: 3px solid #dbdbdb; 
	/*background: rgb(84,67,124,0.50); */	
	text-align: center;
}
.bg-transparent{ background: transparent; }

.bg-darkblue3{ 
	background: #3B3F69; 
	padding: 10px;
	outline: none;
	border: none;
	color: #fff;
}

.bg-alertemer{ border: 3px solid #fff; background: #B3CAFF; color: #4A389D;}
.bg-alertemerdanger{ border: 3px solid #fff; background: #FFA3A5; color: #982225;}

.bg-inputtextdark1 { 
	background: #3B3F69;
	color: #fff;
	padding: 10px;
	outline: none;
	border: none;
	border-radius: 5px;
}
