body{
	position: relative;
	-moz-position: relative;
	-ms-position: relative;
	-o-position: relative;
	-webkit-position: relative;
}

#loadingg{
	position: fixed;
	-moz-position: fixed;
	-ms-position: fixed;
	-o-position: fixed;
	-webkit-position: fixed;

	top: 0;
	-moz-top: 0;
	-ms-top: 0;
	-o-top: 0;
	-webkit-top: 0;

	right: 0;
	-moz-right: 0;
	-ms-right: 0;
	-o-right: 0;
	-webkit-right: 0;

	bottom: 0;
	-moz-bottom: 0;
	-ms-bottom: 0;
	-o-bottom: 0;
	-webkit-bottom: 0;

	left: 0;
	-moz-left: 0;
	-ms-left: 0;
	-o-left: 0;
	-webkit-left: 0;

	margin: auto;
	-moz-margin: auto;
	-ms-margin: auto;
	-o-margin: auto;
	-webkit-margin: auto;
}

#logpan{
	background: rgb(0,0,0,0.80);
	-moz-background: rgb(0,0,0,0.80);
	-ms-background: rgb(0,0,0,0.80);
	-o-background: rgb(0,0,0,0.80);
	-webkit-background: rgb(0,0,0,0.80);

	/*background: red;*/
	margin: auto;
	-moz-margin: auto;
	-ms-margin: auto;
	-o-margin: auto;
	-webkit-margin: auto;

	position: fixed;
	-moz-position: fixed;
	-ms-position: fixed;
	-o-position: fixed;
	-webkit-position: fixed;

	z-index: 1100;
	-moz-z-index: 1100;
	-ms-z-index: 1100;
	-o-z-index: 1100;
	-webkit-z-index: 1100;


	top: 0;
	-moz-top: 0;
	-ms-top: 0;
	-o-top: 0;
	-webkit-top: 0;

	right: 0;
	-moz-right: 0;
	-ms-right: 0;
	-o-right: 0;
	-webkit-right: 0;

	bottom: 0;
	-moz-bottom: 0;
	-ms-bottom: 0;
	-o-bottom: 0;
	-webkit-bottom: 0;

	left: 0;
	-moz-left: 0;
	-ms-left: 0;
	-o-left: 0;
	-webkit-left: 0;

	/*align-items: center;*/
	/*position: relative;*/
}


.registromodsco{
	/*background: rgb(41,49,67,0.95);*/
	background: rgb(52,52,69);
	position: relative;
	-moz-position: relative;
	-ms-position: relative;
	-o-position: relative;
	-webkit-position: relative;
}

.menu-reg-top{
	padding: 10px;
	-moz-padding: 10px;
	-ms-padding: 10px;
	-o-padding: 10px;
	-webkit-padding: 10px;

	float: right;
	-moz-float: right;
	-ms-float: right;
	-o-float: right;
	-webkit-float: right;

	background: #f2f2f2;
	background: linear-gradient(to left top, #7765fa, #5243c3);
	background: transparent;
	border: 3px solid white;
	-moz-border: 3px solid white;
	-ms-border: 3px solid white;
	-o-border: 3px solid white;
	-webkit-border: 3px solid white;

	border-top: 4px solid #fff;
	-moz-border-top: 4px solid #fff;
	-ms-border-top: 4px solid #fff;
	-o-border-top: 4px solid #fff;
	-webkit-border-top: 4px solid #fff;

	border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	-webkit-border-radius: 7px;

	font-size: 150%;
	text-align: center;

	font-family: monospace;
	-moz-font-family: monospace;
	-ms-font-family: monospace;
	-o-font-family: monospace;
	-webkit-font-family: monospace;
}

.coholdermes::placeholder{
	color: #fff;
	-moz-color: #fff;
	-ms-color: #fff;
	-o-color: #fff;
	-webkit-color: #fff;
	/*font-weight: bold;*/
}

.backs{

}
.men_data_registros{
	display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	-webkit-display: flex;

	flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	-webkit-flex-direction: column;

	z-index: 10;
	position: fixed;
	-moz-position: fixed;
	-ms-position: fixed;
	-o-position: fixed;
	-webkit-position: fixed;

	left: 0;
	-moz-left: 0;
	-ms-left: 0;
	-o-left: 0;
	-webkit-left: 0;

	bottom: 0;
	-moz-bottom: 0;
	-ms-bottom: 0;
	-o-bottom: 0;
	-webkit-bottom: 0;

	border-bottom-right-radius: 25px;
	-moz-border-bottom-right-radius: 25px;
	-ms-border-bottom-right-radius: 25px;
	-o-border-bottom-right-radius: 25px;
	-webkit-border-bottom-right-radius: 25px;

	border-top-right-radius: 25px;
}

.option-menu-registro{
	padding: 4px;
	-moz-padding: 4px;
	-ms-padding: 4px;
	-o-padding: 4px;
	-webkit-padding: 4px;

	margin: 3px;
	-moz-margin: 3px;
	-ms-margin: 3px;
	-o-margin: 3px;
	-webkit-margin: 3px;

	transition: ease all 0.3s;
	-moz-transition: ease all 0.3s;
	-ms-transition: ease all 0.3s;
	-o-transition: ease all 0.3s;
	-webkit-transition: ease all 0.3s;
}

.option-menu-registro:hover{
	transition: ease all 0.3s;
	-moz-transition: ease all 0.3s;
	-ms-transition: ease all 0.3s;
	-o-transition: ease all 0.3s;
	-webkit-transition: ease all 0.3s;

	background: #f2f2f2;
	-moz-background: #f2f2f2;
	-ms-background: #f2f2f2;
	-o-background: #f2f2f2;
	-webkit-background: #f2f2f2;
}



#formreg{
	display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	-webkit-display: flex;

	flex-direction: column;
	-moz-direction: column;
	-ms-direction: column;
	-o-direction: column;
	-webkit-direction: column;
}

#formregdesk{
	display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	-webkit-display: flex;

	flex-flow: wrap row;
	-moz-flex-flow: wrap row;
	-ms-flex-flow: wrap row;
	-o-flex-flow: wrap row;
	-webkit-flex-flow: wrap row;
}

.flexgregdesk{
	flex-grow: 1;
	-moz-flex-grow: 1;
	-ms-flex-grow: 1;
	-o-flex-grow: 1;
	-webkit-flex-grow: 1;
	/*flex-basis: 80%;*/
	margin: 3px;
	-moz-margin: 3px;
	-ms-margin: 3px;
	-o-margin: 3px;
	-webkit-margin: 3px;

}

.flexgrow{
	flex-grow: 1;
	-moz-flex-grow: 1;
	-ms-flex-grow: 1;
	-o-flex-grow: 1;
	-webkit-flex-grow: 1;

	/*padding: 4px;*/
	margin-top: 3px;
	-moz-margin-top: 3px;
	-ms-margin-top: 3px;
	-o-margin-top: 3px;
	-webkit-margin-top: 3px;

	flex-basis: 100%;
	-moz-flex-basis: 100%;
	-ms-flex-basis: 100%;
	-o-flex-basis: 100%;
	-webkit-flex-basis: 100%;

}

.center-flex{
	align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	-webkit-align-items: center;

	align-content: center;
	-moz-align-content: center;
	-ms-align-content: center;
	-o-align-content: center;
	-webkit-align-content: center;
}

.closedata{
	cursor: pointer;
	background-color: red;
	padding: 3px;
	border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	-webkit-border-radius: 100%;
}


.flexbg{ 
	flex-basis: 100%; 
	-moz-flex-basis: 100%;
	-ms-flex-basis: 100%;
	-o-flex-basis: 100%;
	-webkit-flex-basis: 100%;

	flex-grow: 1;  
	-moz-flex-grow: 1;
	-ms-flex-grow: 1;
	-o-flex-grow: 1;
	-webkit-flex-grow: 1;
}

.panel_widgets{
	position: fixed;
	-moz-position: fixed;
	-ms-position: fixed;
	-o-position: fixed;
	-webkit-position: fixed;

	bottom: -2px;
	-moz-bottom: -2px;
	-ms-bottom: -2px;
	-o-bottom: -2px;
	-webkit-bottom: -2px;

	right: 50px;
	-moz-right: 50px;
	-ms-right: 50px;
	-o-right: 50px;
	-webkit-right: 50px;

	z-index: 150;
	-moz-z-index: 150;
	-ms-z-index: 150;
	-o-z-index: 150;
	-webkit-z-index: 150;

	margin-top: 5px;
	-moz-margin-top: 5px;
	-ms-margin-top: 5px;
	-o-margin-top: 5px;
	-webkit-margin-top: 5px;
}

.alignment_invisible_widgets{
	position: fixed;
	-moz-position: fixed;
	-ms-position: fixed;
	-o-position: fixed;
	-webkit-position: fixed;

	bottom: 0;
	-moz-bottom: 0;
	-ms-bottom: 0;
	-o-bottom: 0;
	-webkit-bottom: 0;

	right: 0;
	-moz-right: 0;
	-ms-right: 0;
	-o-right: 0;
	-webkit-right: 0;

	border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	-webkit-border-radius: 25px;

	display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	-webkit-display: flex;

	flex-flow: wrap row;
	-moz-flex-flow: wrap row;
	-ms-flex-flow: wrap row;
	-o-flex-flow: wrap row;
	-webkit-flex-flow: wrap row;

	justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	-webkit-justify-content: center;

	width: 540px;
	-moz-width: 540px;
	-ms-width: 540px;
	-o-width: 540px;
	-webkit-width: 540px;

	height: 250px;
	-moz-height: 250px;
	-ms-height: 250px;
	-o-height: 250px;
	-webkit-height: 250px;

	margin-bottom: 50px;
	-moz-margin-bottom: 50px;
	-ms-margin-bottom: 50px;
	-o-margin-bottom: 50px;
	-webkit-margin-bottom: 50px;

	overflow: auto;
	-moz-overflow: auto;
	-ms-overflow: auto;
	-o-overflow: auto;
	-webkit-overflow: auto;
}

main{
	background: transparent;
	-moz-background: transparent;
	-ms-background: transparent;
	-o-background: transparent;
	-webkit-background: transparent;
}

.conjunt_images{
	scroll-behavior: smooth;
	-moz-scroll-behavior: smooth;
	-ms-scroll-behavior: smooth;
	-o-scroll-behavior: smooth;
	-webkit-scroll-behavior: smooth;

	overflow-y: hidden;
	-moz-overflow-y: hidden;
	-ms-overflow-y: hidden;
	-o-overflow-y: hidden;
	-webkit-overflow-y: hidden;
}

.leftimg{
	position: absolute; 
	-moz-position: absolute;
	-ms-position: absolute;
	-o-position: absolute;
	-webkit-position: absolute;

	border-radius: 100%; 
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	-webkit-border-radius: 100%;

	left: 1%; 
	-moz-left: 1%;
	-ms-left: 1%;
	-o-left: 1%;
	-webkit-left: 1%;

	width: 60px;
	height: 60px;
	top: 150px;
	font-family: monospace;
	font-weight: bold;
	font-size: 150%;

	
}

.rightimg{
	position: absolute; 
	-moz-position: absolute;
	-ms-position: absolute;
	-o-position: absolute;
	-webkit-position: absolute;

	border-radius: 100%; 
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	-webkit-border-radius: 100%;

	right: 1%; 
	-moz-right: 1%;
	-ms-right: 1%;
	-o-right: 1%;
	-webkit-right: 1%;

	width: 60px;
	-moz-width: 60px;
	-ms-width: 60px;
	-o-width: 60px;
	-webkit-width: 60px;

	height: 60px;
	-moz-height: 60px;
	-ms-height: 60px;
	-o-height: 60px;
	-webkit-height: 60px;

	top: 150px;
	-moz-top: 150px;
	-ms-top: 150px;
	-o-top: 150px;
	-webkit-top: 150px;

	font-family: monospace;
	-moz-font-family: monospace;
	-ms-font-family: monospace;
	-o-font-family: monospace;
	-webkit-font-family: monospace;

	font-weight: bold;
	-moz-font-weight: bold;
	-ms-font-weight: bold;
	-o-font-weight: bold;
	-webkit-font-weight: bold;

	font-size: 150%;
	-moz-font-size: 150%;
	-ms-font-size: 150%;
	-o-font-size: 150%;
	-webkit-font-size: 150%;
}

.navbar-option-general-show-top{
	list-style: none;
	-moz-list-style: none;
	-ms-list-style: none;
	-o-list-style: none;
	-webkit-list-style: none;

	text-decoration: none;
	-moz-text-decoration: none;
	-ms-text-decoration: none;
	-o-text-decoration: none;
	-webkit-text-decoration: none;

	margin: 5px;
	-moz-margin: 5px;
	-ms-margin: 5px;
	-o-margin: 5px;
	-webkit-margin: 5px;
}

.cotextmennavtop{
	transition: ease all 0.3s;
	-moz-transition: ease all 0.3s;
	-ms-transition: ease all 0.3s;
	-o-transition: ease all 0.3s;
	-webkit-transition: ease all 0.3s;

	border-bottom: 2px solid transparent;
	-moz-border-bottom: 2px solid transparent;
	-ms-border-bottom: 2px solid transparent;
	-o-border-bottom: 2px solid transparent;
	-webkit-border-bottom: 2px solid transparent;
}
.cotextmennavtop:hover{
	transition: ease all 0.3s;
	-moz-transition: ease all 0.3s;
	-ms-transition: ease all 0.3s;
	-o-transition: ease all 0.3s;
	-webkit-transition: ease all 0.3s;

	border-bottom: 2px solid #750EDE;
	-moz-border-bottom: 2px solid #750EDE;
	-ms-border-bottom: 2px solid #750EDE;
	-o-border-bottom: 2px solid #750EDE;
	-webkit-border-bottom: 2px solid #750EDE;
}

.accordion, .modulos{
	transition: ease all 0.3s;
	-moz-transition: ease all 0.3s;
	-ms-transition: ease all 0.3s;
	-o-transition: ease all 0.3s;
	-webkit-transition: ease all 0.3s;
}

.accordion:hover{
	transition: ease all 0.3s;
	-moz-transition: ease all 0.3s;
	-ms-transition: ease all 0.3s;
	-o-transition: ease all 0.3s;
	-webkit-transition: ease all 0.3s;
}
.modulos:hover{
	transition: ease all 0.3s;
	-moz-transition: ease all 0.3s;
	-ms-transition: ease all 0.3s;
	-o-transition: ease all 0.3s;
	-webkit-transition: ease all 0.3s;
}

.pj{
	transition: ease all 0.3s;
	-moz-transition: ease all 0.3s;
	-ms-transition: ease all 0.3s;
	-o-transition: ease all 0.3s;
	-webkit-transition: ease all 0.3s;

	border: 4px solid transparent;
	-moz-border: 4px solid transparent;
	-ms-border: 4px solid transparent;
	-o-border: 4px solid transparent;
	-webkit-border: 4px solid transparent;
}

.pj:hover{
	transition: ease all 0.3s;
	-moz-transition: ease all 0.3s;
	-ms-transition: ease all 0.3s;
	-o-transition: ease all 0.3s;
	-webkit-transition: ease all 0.3s;

	border: 4px solid #bbb;
	-moz-border: 4px solid #bbb;
	-ms-border: 4px solid #bbb;
	-o-border: 4px solid #bbb;
	-webkit-border: 4px solid #bbb;
}
.check{
	padding: 15px;
	-moz-padding: 15px;
	-ms-padding: 15px;
	-o-padding: 15px;
	-webkit-padding: 15px;

	border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	-webkit-border-radius: 100%;

	background: transparent;
	-moz-background: transparent;
	-ms-background: transparent;
	-o-background: transparent;
	-webkit-background: transparent;

	box-shadow: inset 0px 0px 0px 3px #1DE2C3;
	-moz-box-shadow: inset 0px 0px 3px #1DE2C3;
	-ms-box-shadow: inset 0px 0px 3px #1DE2C3;
	-o-box-shadow: inset 0px 0px 3px #1DE2C3;
	-webkit-box-shadow: inset 0px 0px 3px #1DE2C3;

	color: transparent;
	-moz-color: transparent;
	-ms-color: transparent;
	-o-color: transparent;
	-webkit-color: transparent;

	user-select: none;
	-moz-user-select: auto;
	-ms-user-select: auto;
	-o-user-select: auto;
	-webkit-user-select: auto;

	width: 10px;
	-moz-width: 10px;
	-ms-width: 10px;
	-o-width: 10px;
	-webkit-width: 10px;

	height: 10px;
	-moz-height: 10px;
	-ms-height: 10px;
	-o-height: 10px;
	-webkit-height: 10px;

	cursor: pointer;
	-moz-cursor: pointer;
	-ms-cursor: pointer;
	-o-cursor: pointer;
	-webkit-cursor: pointer;
}
.btnhideaside{

	background: rgb(0,0,0,0.20);
	-moz-background: rgb(0,0,0,0.20);
	-ms-background: rgb(0,0,0,0.20);
	-o-background: rgb(0,0,0,0.20);
	-webkit-background: rgb(0,0,0,0.20);


	float: right;
	-moz-float: right;
	-ms-float: right;
	-o-float: right;
	-webkit-float: right;

	height: 100%;
	-moz-height: 100%;
	-ms-height: 100%;
	-o-height: 100%;
	-webkit-height: 100%;

	right: -10px;
	-moz-right: -10px;
	-ms-right: -10px;
	-o-right: -10px;
	-webkit-right: -10px;

	margin: auto;
	-moz-margin: auto;
	-ms-margin: auto;
	-o-margin: auto;
	-webkit-margin: auto;

	z-index: 20;
	-moz-z-index: 20;
	-ms-z-index: 20;
	-o-z-index: 20;
	-webkit-z-index: 20;
}

/*-----------------CALCULADORA-------------------------*/

.container_calculadora{
	position: relative;
	-moz-position: relative;
	-ms-position: relative;
	-o-position: relative;
	-webkit-position: relative;

	background: #fff;
	padding: 20px;
	/*width: 600px;*/
	/*height: 460px;*/
	/*position: fixed;*/
	user-select: none;
	transition: ease all 0.1s;
	transform: scale(0.8);
	
}
.container_calculadora:hover{
	transition: ease all 0.1s;
	-moz-transition: ease all 0.1s;
	-ms-transition: ease all 0.1s;
	-o-transition: ease all 0.1s;
	-webkit-transition: ease all 0.1s;
}

.contain_calender{
	transition: ease all 0.1s;
	-moz-transition: ease all 0.1s;
	-ms-transition: ease all 0.1s;
	-o-transition: ease all 0.1s;
	-webkit-transition: ease all 0.1s;
}
.contain_calender:hover{
	transition: ease all 0.1s;
	-moz-transition: ease all 0.1s;
	-ms-transition: ease all 0.1s;
	-o-transition: ease all 0.1s;
	-webkit-transition: ease all 0.1s;
}

.goldglowbri{
	animation: goldglowbrian linear infinite 5s;
	-moz-animation: goldglowbrian linear infinite 5s;
	-ms-animation: goldglowbrian linear infinite 5s;
	-o-animation: goldglowbrian linear infinite 5s;
	-webkit-animation: goldglowbrian linear infinite 5s;
}
@keyframes goldglowbrian{
	from{
		box-shadow: inset 0px 0px 20px #E5D32B;
	}
	50%{
		box-shadow: inset 20px 20px 10px #FFF6A1;
	}
	to{
		box-shadow: inset 0px 0px 20px #E5D32B;
	} 

}

.animaunlockinsig{
	border: 10px double #214BF1;
	-moz-border: 10px double #214BF1;
	-ms-border: 10px double #214BF1;
	-o-border: 10px double #214BF1;
	-webkit-border: 10px double #214BF1;
}

.animaanunlockinpu{
	border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	-webkit-border-radius: 100%;

	animation: animaunlockin linear infinite 0.3s;
	-moz-animation: animaunlockin linear infinite 0.3s;
	-ms-animation: animaunlockin linear infinite 0.3s;
	-o-animation: animaunlockin linear infinite 0.3s;
	-webkit-animation: animaunlockin linear infinite 0.3s;
}

@keyframes animaunlockin{
	from{
		border: 8px solid #FFD634;
	} 
	50%{
		border: 8px solid white;
	}
	to{
		border: 8px solid #FFD634;
	}
}
.unlockstate{
	border: 10px double #FCFF34;
}
.bg-advi-unlock-insig{
	background: linear-gradient(to left top, #BB34FF,#4034FF);
	color: #fff;
}
.unlock_advice_new_insig{
	position: fixed;
	-moz-position: fixed;
	-ms-position: fixed;
	-o-position: fixed;
	-webkit-position: fixed;

	background: white;
	-moz-background: white;
	-ms-background: white;
	-o-background: white;
	-webkit-background: white;

	z-index: 23;
	-moz-z-index: 23;
	-ms-z-index: 23;
	-o-z-index: 23;
	-webkit-z-index: 23;

	top: 50%;
	-moz-top: 50%;
	-ms-top: 50%;
	-o-top: 50%;
	-webkit-top: 50%;

	left: 50%;
	-moz-left: 50%;
	-ms-left: 50%;
	-o-left: 50%;
	-webkit-left: 50%;

	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}


.opt_hea_win_asi{
	/*border-radius: 14px;*/
	position: absolute;
	-moz-position: absolute;
	-ms-position: absolute;
	-o-position: absolute;
	-webkit-position: absolute;

	top: -50px;
	left: 0px;
	z-index: 100;
}

.patternconfigupdatepass{
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index: 101;
	background: linear-gradient(to bottom right, rgb(20,20,20), rgb(20,20,20,0.40), rgb(20,20,20))
}


/*----------------------------------------------------*/

/*---------------------- Calendaro ----------------------*/


/*--------------------------------------------------------*/




/* ------------------ COLORS --------------------*/

.co1{ background: #4A4AC4; }
.co2{ background: #49c343; }


/*----------------- Text Color --------------------*/
.cotxtlight { color: #fff; }
.cotxtdark { color: #303030; }

/* .................. bg ....................*/

.bg-darkblue0{ background: #34323A; }
.bg-darkblue1{ background: #2A2831; }
.bg-borderwhite{ 
	border-radius: 14px;
	border: 3px solid #dbdbdb; 
	/*background: rgb(84,67,124,0.50); */	
	text-align: center;
}
.bg-transparent{ background: transparent; }

.bg-darkblue3{ 
	background: #3B3F69; 
	padding: 10px;
	outline: none;
	border: none;
	color: #fff;
}

.bg-alertemer{ border: 3px solid #fff; background: #B3CAFF; color: #4A389D;}
.bg-alertemerdanger{ border: 3px solid #fff; background: #FFA3A5; color: #982225;}

.bg-inputtextdark1 { 
	background: #3B3F69;
	color: #fff;
	padding: 10px;
	outline: none;
	border: none;
	border-radius: 5px;
}


.bradius-100{
	border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	-webkit-border-radius: 100%;
}

.bshadow{
	box-shadow: 0px 0px 20px #FFE100;
	-moz-box-shadow: 0px 0px 20px #FFE100;
	-ms-box-shadow: 0px 0px 20px #FFE100;
	-o-box-shadow: 0px 0px 20px #FFE100;
	-webkit-box-shadow: 0px 0px 20px #FFE100;
}

.cursor-pointer{
	cursor: pointer;
	-moz-cursor: pointer;
    -ms-cursor: pointer;
    -o-cursor: pointer;
    -webkit-cursor: pointer;
}

.wrapping-text{
	/*white-space: nowrap; */
  /*width: 10px; */
  /*overflow: hidden;*/
  word-wrap: break-word;
  /*text-overflow: ellipsis; */
  /*display: flex;*/
  /*width:50px;*/
}

.overflow{
	overflow: auto;
	-moz-overflow: auto;
    -ms-overflow: auto;
    -o-overflow: auto;
    -webkit-overflow: auto;
}

.overflow-x{
	overflow-y: hidden;
	overflow-x: auto;
	-moz-overflow-x: auto;
    -ms-overflow-x: auto;
    -o-overflow-x: auto;
    -webkit-overflow-x: auto;
}

.resize-none{
	resize: none;
	-moz-resize: none;
    -ms-resize: none;
    -o-resize: none;
    -webkit-resize: none;
}

.outline-none{
	outline: none;
	-moz-outline: none;
    -ms-outline: none;
    -o-outline: none;
    -webkit-outline: none;
}

.text-yellow{
	color: #FCFF3B;
	-moz-color: #FCFF3B;
    -ms-color: #FCFF3B;
    -o-color: #FCFF3B;
    -webkit-color: #FCFF3B;
}

.transition-ease-all{
	transition: ease all 0.4s;
	-moz-transition: ease all 0.4s;
    -ms-transition: ease all 0.4s;
    -o-transition: ease all 0.4s;
    -webkit-transition: ease all 0.4s;
}

.color-cyan{
	color: #29C4FF;
    -moz-color: #29C4FF;
    -ms-color: #29C4FF;
    -o-color: #29C4FF;
    -webkit-color: #29C4FF;
}
.hover-selector-one:hover{

	transition: ease all 0.4s;
	-moz-transition: ease all 0.4s;
    -ms-transition: ease all 0.4s;
    -o-transition: ease all 0.4s;
    -webkit-transition: ease all 0.4s;

	border-left: 1px solid #29C4FF;
	-moz-border-left: 1px solid #29C4FF;
    -ms-border-left: 1px solid #29C4FF;
    -o-border-left: 1px solid #29C4FF;
    -webkit-border-left: 1px solid #29C4FF;

    border-bottom: 1px solid #29C4FF;
	-moz-border-bottom: 1px solid #29C4FF;
    -ms-border-bottom: 1px solid #29C4FF;
    -o-border-bottom: 1px solid #29C4FF;
    -webkit-border-bottom: 1px solid #29C4FF;

    color: #29C4FF;
    -moz-color: #29C4FF;
    -ms-color: #29C4FF;
    -o-color: #29C4FF;
    -webkit-color: #29C4FF;

    font-style: italic;
    -moz-font-style: italic;
    -ms-font-style: italic;
    -o-font-style: italic;
    -webkit-font-style: italic;

}


.user-select-none{
	user-select: none;
	-moz-font-user-select: none;
    -ms-font-user-select: none;
    -o-font-user-select: none;
    -webkit-font-user-select: none;
}














/* width */
::-webkit-scrollbar {
  width: 20px;
  background: #f2f2f2;
}

/* Track */
::-webkit-scrollbar-track {
  /*box-shadow: inset 0 0 5px grey; */
  /*border-radius: 10px;*/
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to left top, #29733E, #8DD5A1); 
  /*background-color: #9F9F9F;*/
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to left top, #29733E, #8DD5A1); 
  /*background-color: #9F9F9F;*/
}